body {
  background-color: #9CA3DB;
    padding: 25px 150px 75px 100px;
}
h2 {background-color: #9CA3DB;
color: #322A26;
 font-size: 32px;
 font-family: Georgia;

}
h4 {
  background-color: #9CA3DB;
  color: #454B66;
   font-size: 24px;
   font-family: Georgia, serif;
}
